.camel {
    display: inline-block;
    height: 30%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px black solid;
    position: absolute;
    left: 20px;
}

.elevation-0 {
    bottom: 5%;
    z-index: 1;
}

.elevation-1 {
    bottom: 15%;
    z-index: 2;
}

.elevation-2 {
    bottom: 25%;
    z-index: 3;
}

.elevation-3 {
    bottom: 35%;
    z-index: 4;
}

.elevation-4 {
    bottom: 45%;
    z-index: 5;
}

.elevation-5 {
    bottom: 55%;
    z-index: 6;
}

.elevation-6 {
    bottom: 65%;
    z-index: 7;
}

#blue-camel {
    background-color: blue;
}

#yellow-camel {
    background-color: yellow;
}

#green-camel {
    background-color: green;
}

#red-camel {
    background-color: red;
}

#purple-camel {
    background-color: purple;
}

#white-camel {
    background-color: white;
}

#black-camel {
    background-color: black;
}