.game-card {
    max-height: 15vh;
    max-width: 20.6vh;
    aspect-ratio: 8/11;
    border: 1px solid black;
    border-radius: 8px;
    background-color: brown;
    box-shadow: -3px -2px 5px;
    margin-left: -10%;
    position: relative;
}

#center-track .game-card {
    box-shadow: -3px -2px 5px;
    margin-top: -12vh;
    margin-left: 0;
    position: relative;
    height: 13vh;
}

#held-leg-bets-container .leg-bet-card {
    width: 15%;
}

.finish-card {
    text-align: center;
    width: 30%;
}

.game-card:first-child {
    margin-left: 0;
    margin-top: 0;
}

.leg-bet-value,
.card-player {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-camel {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
}

.blue-card-camel {
    filter: invert(11%) sepia(100%) saturate(5044%) hue-rotate(244deg) brightness(93%) contrast(151%);
}

.yellow-card-camel {
    filter: invert(84%) sepia(77%) saturate(4399%) hue-rotate(358deg) brightness(106%) contrast(104%);
}

.green-card-camel {
    filter: invert(27%) sepia(96%) saturate(1286%) hue-rotate(93deg) brightness(94%) contrast(103%);
}

.red-card-camel {
    filter: invert(27%) sepia(82%) saturate(5323%) hue-rotate(351deg) brightness(89%) contrast(133%);
}

.purple-card-camel {
    filter: invert(14%) sepia(43%) saturate(6012%) hue-rotate(288deg) brightness(92%) contrast(120%);
}

.white-card-camel {
    filter: invert(97%) sepia(17%) saturate(0%) hue-rotate(90deg) brightness(104%) contrast(104%);
}