button {
    width: 100px;
}

#player-interface {
    background-image: url('../images/wood.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

#money-display,
#pyramid-tickets-display,
#spectator-tile-display,
#held-leg-bets-container,
#held-finish-cards-container {
    background: rgb(255, 248, 172);
    background: radial-gradient(closest-side, rgba(255, 248, 172, 0.5791727405247813) 52%, rgba(255, 252, 214, 0.47421647230320696) 62%, rgba(0, 0, 0, 0) 100%);
}

#money-display {
    height: 80px;
    width: 70px;
}

.display-label {
    margin-top: 8px;
    margin-left: 3px;
}

#pyramid-tickets-display {
    height: 80px;
    width: 70px;
}

#spectator-tile-display {
    height: 80px;
    width: 70px;
}

#held-leg-bets-container {
    height: 80px;
    width: 500px;
}

#held-finish-cards-container {
    height: 80px;
    width: 250px;
    display: flex;
    align-items: center;
    position: relative;
}

.blue-bet-button {
    background-color: blue;
}

.yellow-bet-button {
    background-color: yellow;
}

.green-bet-button {
    background-color: green;
}

.red-bet-button {
    background-color: red;
}

.purple-bet-button {
    background-color: purple;
}

.blue {
    color: blue;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

.red {
    color: red;
}

.purple {
    color: purple;
}